* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

.tituloPrincipal {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    background-image: url("../Images/Screenshot_34.png");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.redes {
    font-weight: 200;
    width: 400px;
    height: 100;
    color: black;
    border: 1px ridge #000000;
    background: #ffffff;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin-left: 35%;
    text-align: center;
}

footer div ul {
    list-style: none;
	overflow: hidden;
    width: 350px;
    height: 100;
    color: black;
    border: 1px ridge #000000;
    background: #ffffff;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin-left: 35.2%;
    text-align: center;
}


.caja1 {
    width: 400px;
    height: 100;
    color: black;
    border: 1px ridge #000000;
    background: #ffffff;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin-left: 35%;
    text-align: center;
}
.caja2 {
    width: 400px;
    height: 100;
    color: black;
    border: 1px ridge #000000;
    background: #ffffff;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin-left: 35%;
    text-align: center;
}
.caja3 {
    width: 400px;
    height: 100;
    color: black;
    border: 1px ridge #000000;
    background: #ffffff;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin-left: 35%;
    text-align: center;
}
.caja-a {
    width: 400px;
    height: 100;
    color: black;
    border: 1px ridge #000000;
    background: #ffffff;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin-left: 35%;
    text-align: center;
}
.cajamapa {
    width: 600px;
    height: 600;
    color: black;
    border: 1px ridge #000000;
    background: #ffffff;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    margin-left: 28%;
    text-align: center;

}
.ae {
    text-align: center;
}
.contenedor {
	width: 95%;
	max-width:1000px;
	margin:auto;
}

.contenedor p {
	margin-bottom:40px;
}

header nav {
	background:#344d5d;
	margin-bottom:10px;
}

header nav ul {
	list-style: none;
	overflow: hidden;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	display: block;
	padding:20px;
	color:#fff;
	text-decoration: none;
}

header nav ul li a:hover {
	background:#2980b9;
}

.menu {
    background-image: url("../Images/logo-samsung-256.png");
}

nav ul {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.nav {
    background-color: black;
    display: inline-block;
    padding-bottom: 5px;

}
.link {
    color: white;
}
.ctpa {
    width: 400px;
    height: 100;
    color: black;
    border: 1px ridge #000000;
    background: #ffffff;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin-left: 35%;
    text-align: center;
}

.mailbox {
    width: 400px;
    height: 100;
    color: black;
    border: 1px ridge #000000;
    background: #ffffff;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.75);
    display: inline-block;
    margin-left: 35%;
    text-align: center;
}